<h1>Rob Botic!</h1>

<form action="/scrape" method="POST">
    <label for="url">Url:</label>
    <input type="text" id="url" name="url" value="http://46.101.232.43/" />
    <input type="submit" value="Scrape" />
</form>

{{{scrape}}}